{% extends "__base.html" %}
{% load widget_tweaks %}

{% block page_content %}
<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="mb-0">Create a New Book</h3>
            </div>
            <div class="col-4 text-right">
                <a href="{% url 'book-list' %}" class="btn btn-sm btn-primary">View All</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label"
                                for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                {% render_field form.name|add_class:"form-control form-control-alternative" placeholder="Enter book name here"%}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label"
                                for="{{ form.isbn_number.id_for_label }}">{{ form.isbn_number.label }}</label>
                                {% render_field form.isbn_number|add_class:"form-control form-control-alternative" placeholder="Enter book isbn here"%}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-4">
                        <button type="submit" class="btn btn-success btn-block">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
